<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.mutantstargoat.andemo"
		android:versionCode="1"
		android:versionName="1.0">
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>

	<application android:label="andemo" android:hasCode="false"
			android:debuggable="true">
		<activity android:name="android.app.NativeActivity"
				android:screenOrientation="userLandscape"
				android:label="andemo">
			<meta-data android:name="android.app.lib_name"
					android:value="andemo"/>
		</activity>
	</application>
</manifest>

